body {
    font-family: Calibri;
    font-style: normal;
    color: #111111;
    margin: 0px;
    background-color: #eeeeee;
}

#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0px;
    background-color: #ffffff;
}

#h1 {
    width: auto;
    margin: auto;
    padding: 10px 10px;
}

#nav {
    width: auto;
}
    ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        background-color: #01415d;
    }
        li {
            float: left;
            border-right: 2px solid #fff;
        }

        li a {
            display: block;
            text-align: center;
            padding: 10px 30px;
            color: #ffffff;
            text-decoration: none;
        }

       li a:hover {
            background-color: #45b99f;
            color: #000000;
        }
       li a.active {
            background-color: #37b99f;
            color: #ffffff;
        }
       li.left {
            float: leftt;
        }

#content1 {
    width: auto;
    padding: 10px 20px;
}


th, td{
    padding: 10px 10px;
    text-align: left;
}

#footer {
    text-align: center;
    width: auto;
    padding: 10px 15px;
    background-color: #01415d;
    color: #ffffff;
}